[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "vulkan"]
	path = vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
